@charset "utf-8";
#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}

header {
    border: 2px solid black;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    margin: 15px;
    padding: 10px;
    font-size: 10pt;
}

footer {
    border: 2px solid black;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    position: relative;
    margin: 15px;
    padding: 10px;
    font-size: 10pt;
}

a.location {
    display: inline-block;
    text-align: right;
}

#userId {
    text-align: center;
}

#userPw {
    text-align: center;
}

#loginContainer {
    text-align: center;
}

#insertContainer {
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

div.form-group {
    text-align: center;
    display: inline-block;
}

#title {
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}

#content {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid black;
    height: 20em;
    margin: 15px;
    padding: 15px;
}


