<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>board</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div>
        <a th:href="@{/}" class="location">홈 이동</a>
        <a th:href="@{/board/insert}" class="location">글 쓰기</a>
    </div>
    <!--/* 게시글 영역 */-->
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>등록일</th>
            </tr>
            </thead>
            <!--/* 게시글 리스트 Rendering 영역 */-->
            <tbody id="boardList">
            </tbody>
        </table>
        <!-- 페이지네이션 Rendering 영역 -->
        <nav>
        </nav>
    </div>
</div>
<div th:replace="footer.html"></div>
</body>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script th:inline="javascript" th:src="@{/js/boardScript.js}" charset="utf-8"></script>
/*<![CDATA[*/

/*]]>*/
<script type="text/javascript" th:inline="javascript">
    const id = $.parseJSON('[[ ${obj.id} ]]'); </script>
<script type="text/javascript" th:src="@{/js/boardScript.js}"></script>
<!--<script type="text/javascript" th:inline="javascript" th:src="@{/js/boardScript.js}">-->
<!--</script>-->
<!--<script th:inline="javascript" src="@{/js/boardScript.js}"><![CDATA[]]></script>-->
</html>