<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>board</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="header.html"></div>

    <div>
        <a th:href="@{/}" class="location">홈 이동</a>
        <a th:href="@{/board/insert}" class="location">글 쓰기</a>
    </div>

    <!--    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>-->
    <!--    <script type="text/javascript" th:src="@{/js/index.js}"></script>-->


    <table>
        <tr>
            <th>no</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardRegDate}"></td>
        </tr>
        <td th:text="${boardList}"></td>
    </table>
    <div th:replace="footer.html"></div>
</div>
</body>
<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--moment-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!--jq-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--css-->
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<!--<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>-->
<!--js-->
<!--<script type="text/javascript" th:src="@{/js/boardScript.js}"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>-->

<!-- 타임리프에서 외부 js는 자바스크립트 인라인이 지원되지 않는다.-->
<script type="text/javascript" th:inline="javascript" th:src="@{/js/boardScript.js}">

</script>
<script th:inline="javascript" src="@{/js/boardScript.js}"><![CDATA[]]></script>
</html>