<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>board</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div>
        <a th:href="@{/}" class="location">홈 이동</a>
        <a th:href="@{/board/insert}" class="location">글 쓰기</a>
    </div>
    <table>
        <tr>
            <th th:class="no">no</th>
            <th th:class="title">제목</th>
        </tr>
        <tr th:each="board : ${boardList}" >
            <td th:class="no" th:text="${board.getId()}"></td>
            <td th:class="title">
                <a th:href="|@{/board/board/}${board.getId()}|" th:text="${board.title}"></a>
            </td>
        </tr>
    </table>
    <!--paging-->
    <nav>
        <ul class="pagination"
            th:with="start=${T(java.lang.Math).floor(boardList.number/10)*10 + 1},
            last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
            <li class="page-item">
                <a th:href="@{/boards(page=1)}" class="page-link" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${boardList.first} ? 'disabled'" class="page-item">
                <a th:href="${boardList.first} ? '#' : @{/boards(page=${boardList.number})}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'active'" class="page-item">
                <a th:text="${page}" th:href="@{/boards(page=${page})}" class="page-link"></a>
            </li>

            <li th:class="${boardList.last} ? 'disabled'" class="page-item">
                <a th:href="${boardList.last} ? '#' : @{/boards(page=${boardList.number + 2})}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a th:href="@{/boards(page=${boardList.totalPages})}" aria-label="Last" class="page-link">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>

    <div th:replace="footer.html"></div>
</div>
</body>
<!--css-->
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<!--jq-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--gridjs-->
<!--<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>-->
<!--js-->
<!--<script type="text/javascript" th:src="@{/js/boardScript.js}"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>-->

<!-- 타임리프에서 외부 js는 자바스크립트 인라인이 지원되지 않는다.-->
<!--<script type="text/javascript" th:inline="javascript" th:src="@{/js/boardScript.js}">-->

<!--</script>-->
<!--<script th:inline="javascript" src="@{/js/boardScript.js}"><![CDATA[]]></script>-->
</html>