@charset "utf-8";

#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}

div.container-head {
    height: 100px;
    vertical-align: middle;
    text-align: center;
    margin: 15px;
    border: 2px solid black;
    font-size: 20pt;
}
div.insert{
    text-align: center;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
}

td.info {
    text-align: right;
    margin: 15px;
    padding: 15px;
}

div.container-body {
    text-align: center;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
}

div.home-login {
    text-align: right;
    margin: 15px;
    padding: 15px;
    font-size: 12pt;
}

table#content {
    width: 90%;
    margin: auto;
}

td.title {
    border: 1px solid gray;
    background-color: silver;
    padding: 5px;
    text-align: center;
}

th {
    border: 1px solid gray;
    background-color: silver;
    padding: 5px;
    text-align: center;
}

table.footer {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

footer {
    border: 2px solid black;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    position: relative;
    transform: translateY(-100%);
    margin: 15px;
    padding: 10px;
    font-size: 10pt;
}